<h1>Hello world from hello here!</h1>
<%= 1+1 %>  <br/>

<% target = "world" %>
<%= "Hello #{target}" %>

<br/>

<% @array.each do |n| %>
    <%= n %> <br/>
<% end %>

<br/>

<%= link_to('Index page', :action => 'index') %><br/>

<br/>

ID: <%= @id %> <br />
ID: <%= params[:id] %>
Page: <%= @page %>
Next page: <%= @page.to_i + 1 %>